body {
    background:#141414;
    font-family: Courier New;
    margin: -1.5vh;
    padding: 0vh;
}
html
{
    scroll-behavior : smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}
/*Main header properties*/
header
{
    position : fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    transition: 1s;
    z-index:100000;
}
header .nav
{
    nav:10px;
}
/* header format*/
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: stretch;
    padding: 0;

}
/* List property*/
header ul li
{
    position: relative;
    list-style: none;
}

/* List text properties */
header ul li a
{
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    color: #e0dbd1;
    letter-spacing: 5px;
    font-weight: 500px;
    transition: 0.5s;
    font-size : 25px;
    white-space: nowrap;
    font-family: Georgia
}

/*Sticky header properties*/
header.sticky
{
    padding: 5px;
    background: #1f242e;
}

/* Sticky color change */
header.sticky .logo,
header.sticky ul li a
{
    color: #F5F5F5;
}

/* Banner background properties */
.intro-container {
  position: relative;
  width: 100%;
  height: 110vh;
  text-align: center;
  opacity: .9;
}


.intro-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(img/seattle.jpg) no-repeat center top;
  opacity: 0.4;
  z-index: -1;
  background-size: 100% 100%;
}

/*My profile picture */
.profilepic
{
    max-width: 30%;
    max-height: 30%;
    border-radius: 100%;
    border: 3px solid silver;
    margin-top: 80px;
    margin-bottom: -90px;
}

/*Title*/
.title
{
    opacity:100%;
    text-align:center;
    font-size:80px;
    color: 	#f5f5f5;
    opacity: 1;
    margin-bottom: 0px;
    letter-spacing: 10px;
    text-shadow: 0px 0px 20px #999;
}

/*Subtitle*/
.subtitle
{
    opacity:100%;
    text-align:center;
    font-size: 20px;
    color: 	#f5f5f5;
    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 5px;
    text-shadow: 0px 0px 20px #999;
}

.warning
{
    opacity:100%;
    text-align:center;
    font-size: 20px;
    color: 	orange;
    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 5px;
    text-shadow: 0px 0px 20px #999;
}

/* Title properties*/
h2
{
    color: white;
    font-size: 40px;
    font-weight: 1;
    text-align: center;
    letter-spacing: 7px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 20px #999;
}

/* About me text properties*/
.About h3
{
    font-weight: normal;
    color: #e0dbd1;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 400px;
    margin-right: 400px;
    font-family: Georgia
}

/* Alter first sentence propertes */
.About p.first {
        font-size: 25px;
}

/* About text properties */
.About p {
    font-size: 20px;
    letter-spacing: 0;
    margin-top: 20px; /* Adjust the top margin as needed */
    margin-bottom: 20px; /* Adjust the bottom margin as needed */
}

.no-indent p {
    text-indent : 0px !important;
}

@media (max-width: 2500px) {
    .About h3 {
        text-align: left;
    }
}

@media (max-width: 1300px) {
    .About h3 {
        margin-left: 200px;
        margin-right: 200px;
    }
    header ul li a
    {
        letter-spacing: 0px;
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    .About h3 {
        margin-left: 100px;
        margin-right: 100px;
    }

    header ul li a
    {
        letter-spacing: 0px;
        font-size: 15px;
    }
}


/* Container properties*/
.project-box {
    background-size: cover;
    color: white;
    border: 1px solid #333;
    padding: 10px;
    margin: 10px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    height: 300px;
    background-size: contain;
}

.project-box:hover {
    background-size: cover;
    transform: scale(1.02);
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.project-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    width: 500px;
    height: 500px;
    transition: transform 0.3s ease-in-out;
    opacity: 50%;
}

.project-card:hover {
    transform: scale(1.05);
    opacity:100%;
}

.project-content {
    padding: 15px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;

}

.modal-content {
    max-height: 60%;
    overflow-y: auto;
    background-color: #111;
    border-radius: 8px;
    max-width: 900px;
    padding: 20px;
    position: relative;
    font-size : 20px;
    font-family: Georgia

}

.modal-content p {
    color : white;
      text-indent: 50px;
}

.close-modal {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
    color: white;
}

.modal-subtitle {
    font-size : 30px;
    position: relative;
    color: white;
}

.project1 {
    background: url(img/bc.png) center/cover no-repeat;
}

.project2 {
    background: url(img/pacman.png) center/cover no-repeat;
}

.project3 {
    background: url(img/google.png) center/cover no-repeat;
}

.project4 {
    background: url(img/campusMap.png) center/cover no-repeat;
}

.project5 {
    background: url(img/bot.png) center/cover no-repeat;
    background-size: 100% 100%
}

.project6 {
    background: url(img/query.png) center/cover no-repeat;
}

.project7 {
    background: url(img/UIlogo.png) center/cover no-repeat;
    opacity: 80%
}

.project8 {
    background: url(img/stealth.png) center/cover no-repeat;
    opacity: 80%
}

/* footer format*/
footer ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right : 30px
}

/* Footer list property*/
footer ul li
{
    position: relative;
    list-style: none;
}

/* Footer List text properties */
footer ul li a
{
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size:20px;
    font-weight: 500px;
    transition: 0.5s;
}
}